<a href="https://colab.research.google.com/github/NajiNasimi-003/RestaurantSuccessTracker/blob/dataSetUpload/RestaurantSuccessTracker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The naming for this file is not showing correctly in Colab, however, it is correct on Github.

In [ ]:
# for _ in iter(int, 1):
#     pass
# run the above code if you want to keep GC running without idle

In [2]:
# Business.json - Contains business data about location, categories and their ratings.

# Review.json - Contains reviews written by users for a particular business, ratings and their votes.

# User.json - Contains users attributes such as their name, number of reviews given, date since they are yelping and number of votes received.

# Checkin.json - Contains business timings and number of people come in that timing.

# Tip.json - Contains shorter reviews and its attributes to convey information quickly about a particular business.

# Photos.json - Contains photo, business id, caption of the photo and category it belongs to.

# covid.json - Condatins

In [ ]:
# # uploading documents
# import json
# from google.colab import files
# uploaded = files.upload()
# # choose all the json files

In [3]:
#loading EDA pkgs
import pandas as pd
import numpy as np

In [4]:
#loading Data Visualization Pkgs
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
businessJson = '/content/yelp_academic_dataset_business.json'
businessDF = pd.read_json(businessJson, lines = True)

In [12]:
businessDF.head()

              business_id  ...                                              hours
0  6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1  tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
2  bvN78flM8NLprQ1a1y5dRg  ...  {'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...
3  oaepsyvc0J17qwi8cfrOWg  ...                                               None
4  PE9uqAjdw0E4-8mjGl3wVA  ...  {'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'...

[5 rows x 14 columns]

In [14]:
# 1 = open, 0 = closed
# Only keeping business that are open
businessDF = businessDF[businessDF['is_open']==1]

In [15]:
# In case we have to drop columns to clean the data
# drop_columns = ['columnName']
# dfName = dfName.drop(drop_columns, axis=1)

In [16]:
# Pulling only Restaurants
businessRestaurants = businessDF[businessDF['categories'].str.contains(
              'Restaurants',
              case=False, na=False)]

In [17]:
businessRestaurants.head()

               business_id  ...                                              hours
0   6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1   tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
5   D4JtQNTI4X3KcbzacDJsMw  ...  {'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'...
7   jFYIsSb7r1QeESVUnXPHBw  ...     {'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}
12  HPA_qyMEddpAEtFof02ixg  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...

[5 rows x 14 columns]

In [18]:
businessRestaurants.describe()

           latitude     longitude         stars  review_count  is_open
count  32022.000000  32022.000000  32022.000000  32022.000000  32022.0
mean      39.012894    -94.098040      3.549934    130.141434      1.0
std        7.318811     20.168590      0.805334    237.988258      0.0
min       28.062985   -123.349961      1.000000      5.000000      1.0
25%       30.374980   -122.620272      3.000000     20.000000      1.0
50%       40.248712    -84.332702      3.500000     55.000000      1.0
75%       45.496005    -81.330495      4.000000    146.000000      1.0
max       49.459624     71.113271      5.000000   9185.000000      1.0